node_modules
npm-debug.log
.DS_STORE
.vscode
.envrc
.env
.yarnrc
*.code-workspace
lerna-debug.log
yarn-debug.log*
yarn-error.log*
package-lock.json
dist

# Ignore TCK-related files in all folders
okta-oidc-tck*
tck-keystore.pem
target

*.tgz
.idea/

